@model VintageStuff.ViewModels.PantalonViewModel

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>Pantalon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="rounded-circle" height="10" width="10" asp-append-version="true">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="custom-file-input" id="customFile" />
                <label class="custom-file-label" for="customFile">Escoje un archivo</label>
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var nombreArchivo = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(nombreArchivo);
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

